<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Best Seller</h2>
        </div>
        <ul class="timeline">
            <li><a target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" 
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4></h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted"></p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4></h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted"></p>
                    </div>
                </div>
            </li>
            <li>
                <a target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4></h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted"></p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4></h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted"></p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>